.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-bar + .header + .main-body {
  padding-top: 60px;
}

.nav-item {
  /* display: inline; */
  /* float: left;
  color: whitesmoke; */
  float: left;
  display: block;
  color: whitesmoke;
  /* text-align: center; */
  padding: 14px;
  text-decoration: none;
}

/* li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* li a:hover {
  background-color: green;
} */

.logo-image {
  /* height: 9vh; */
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
  /* position: absolute;
  left: 3%;
  top: 0; */
}

/* .App-header {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/lcs-pano.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px;
} */

.title {
  font-size: 90px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mission-statement {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-body {
  width: 100%;
  min-height: 50vh;
  border: 3px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-top: 200px;
  text-align: center;
  padding-bottom: 200px;
}

.menu-link {
  align-content: center;
}

.footer {
  background-color: black;
  color: whitesmoke;
  clear: both;
  position: relative;
  z-index: 1;
  height: 5em;
  margin-top: 5em;
  right: 0;
}

.footer-content {
  text-align: left;
  padding-top: 10px;
}
